    #!/bin/bash
    # Not currently used in favor of inline strings
    export AWS_REGION=${region}
    export ENV=${env}
    export CSB_WORKING_BUCKET=${bucket_name}
    export CSB_WORKING_BUCKET_ARN=${bucket_arn}
    export CSB_WORKING_BUCKET_URL=${bucket_url}
    export CSB_WORKING_BUCKET_URL_HTTPS=${bucket_url_https}
